
<div class="card col-12 row">
    <div class="card-body">
        {{#acciones}}
            <div class="dropdown">
                <a class="pull-right dropdown-toggle menu" data-toggle="dropdown"><i
                        class="material-icons">more_horiz</i></a>
                <div class="dropdown-menu">
                    <a onclick="$('#modal-edit-complaint').fadeIn().modal('show').find('.modal-footer .submit').attr('data-id','{{id}}');$('#txtMensajeEditado').val('{{mensaje}}')"
                       style="align-items: center; display: flex;" class="dropdown-item">
                        <i class="material-icons">edit</i> Editar
                    </a>
                    <a onclick="$('#modal-delete-complaint').fadeIn().modal('show').find('.modal-footer .submit').attr('data-id','{{id}}');"
                       style="align-items: center; display: flex;" class="dropdown-item">
                        <i class="material-icons">delete</i> Eliminar
                    </a>
                </div>
            </div>
        {{/acciones}}
        <h5 data-id="{{id}}" class="card-title mensaje">{{mensaje}}</h5>
        <p class="card-text text-muted"><a href="">{{usuario.name}}</a> ({{productos}})<br>
            {{#fecha}}{{.}}{{/fecha}}
            {{^fecha}}Ahora{{/fecha}}
        </p>
        <span class="label m-r">
                {{#tema.name}}{{.}}{{/tema.name}}
            {{^tema.name}}Sin Tema{{/tema.name}}
            </span>
        {{^leido}}
            <a data-id="{{id}}" onclick="Project.Complaints.markAsRead('{{id}}')" tabindex
               class="pull-right text-sm label btn-outline-dark leido">
                <i class="material-icons text-sm">done</i> Marcar Leído
            </a>
        {{/leido}}
        {{#leido}}
            <span class="pull-right"><i class="material-icons text-sm">done</i> Leido</span>
        {{/leido}}
    </div>
</div>