RewriteEngine on

RewriteCond %{REQUEST_URI} !/api/
RewriteCond %{REQUEST_URI} !/www/
RewriteCond %{REQUEST_URI} !phonegap
# Rewrite all those to insert /folder
RewriteRule ^(.*)$ www/$1 [L]

RewriteRule ^(\w+)$ ?p=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule api\/(.[^\/]*)\/(.[^\/?]*)[?]?(.[^\/]*)?$ api/index?controller=$1&action=$2&%{QUERY_STRING} [NC,L]

RewriteRule admin$ ?p=admin.html [NC,L]
