body {
    /*background: rgba(128, 128, 128, 0.2);*/
}

#container {
    background: white;
    height: calc(100vh - 58px);
}

.hashtag {
    color: #dc3545;
}

.dropdown-toggle::after {
    display: none;
}

li.disabled {
    color: rgba(125, 125, 125, 0.5);
}