body {
    /*background: rgba(128, 128, 128, 0.2);*/
}

#container {
    background: white;
    height: calc(100vh - 58px);
}

.hashtag {
    color: blue;
}

.dropdown-toggle::after {
    display:none;
}