<li class="list-item" style=" border-top: solid 1px rgba(0,0,0,0.1);">
    <div class="clear">
        <h5 data-id="{{id}}" class="m-a-0 m-b-sm mensaje">{{mensaje}}</h5>
        <p class="text-muted"><a href="">{{usuario.name}}</a><br>
            {{#fecha}}
                {{.}}
            {{/fecha}}
            {{^fecha}}
                Ahora
            {{/fecha}}</p>
        <p><span class="label m-r">{{#tema.name}}{{.}}{{/tema.name}}{{^tema.name}}
            Sin Tema{{/tema.name}}</span> <a href=""
                                                    class="m-r-sm"></a>
        </p>
    </div>
</li>