<div class="row pb-2">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                Moroso: {{moroso}}
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Publicado por: {{usuario.name}}</h6>
                <p class="card-text">Mensaje: {{mensaje}}</p>
            </div>
            <div class="card-footer text-muted">
                {{#fecha}}
                    Fecha: {{.}}
                {{/fecha}}
                {{^fecha}}
                    Hace: Ahora
                {{/fecha}}
            </div>
        </div>
    </div>
</div>